* {
margin: 0;
padding: 0;
}
html {
height: 100%;
}
body {
font-family: 'Coda', sans-serif;
background: #000000;
color: #FFFFFF;
height: 100%;
}
canvas {
background-color: rgba(0, 0, 0, 0.7);
}
h1 {
color: #11ECF7;
}
#wrapper {
padding: 0 50px;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -50px;
}
#header {
padding: 15px 20px;
line-height: 1.2;
height: 70px;
position: fixed;
background: none repeat scroll 0 0 rgb(0, 0, 0);
width: 100%;
}
#container {
padding-top: 100px;
}
#footer {
margin: 0 auto;
height: 30px;
font-size: 80%;
text-align: right;
padding: 20px 50px;
clear: both;
}
#push {
height:50px;
}
div.glyph_container {
height: 120px;
font-size: 70%;
float: left;
width: 100px;
text-align: center;
border: 1px solid white;
padding: 2px 0 5px;
margin: 1px;
}
div.selected {
border: 1px solid #FEC80C !important;
color: #FEC80C ! important;
}
div#main_glyph {
height: 450px;
padding: 8px 0 20px;
}
div#main_glyph h2 {
text-align: center;
}
div#glyphs {
padding-left: 400px
}
div#main_glyphs {
position: fixed;
width: 400px;
float: left;
}
div.last_glyph {
float: left;
width: 100px;
font-size: 70%;
text-align: center;
}
