* {
margin: 0;
}
html {
height: 100%;
}
body {
font-family: 'Coda', sans-serif;
background: #000000;
color: #FFFFFF;
height: 100%;
}
canvas {
background-color: rgba(0, 0, 0, 0.7);
}
h1 {
color: #11ECF7;
}
#wrapper {
padding: 0 200px 0 50px;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -50px;
}
#header {
padding: 15px 20px;
line-height: 1.2;
}
#footer {
margin: 0 auto;
height: 50px;
font-size: 80%;
}
#push {
height:50px;
}
